
<h4 id="tableLabel">Orders</h4>


<p *ngIf="!orders"><em>Loading...</em></p>
<!-- tạo button new và edit nếu sự kiện click là true thì mở modal new còn false thì mở modal edit -->
<button class="btn btn-primary" (click)="openModal(true,null)" >Add New Order</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="orders.totalRecord>0">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Employee Id</th>
      <th>Order Date</th>
      <th>Ship Name</th>
      <th>City</th>
      <th>Note</th>
      <th>Action</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of orders.data">
      <td>{{ p.orderId }}</td>
      <td>{{ p.employeeId }}</td>
      <td>{{ p.orderDate }}</td>
      <td>{{ p.shipName }}</td>
      <td>{{ p.city }}</td>
      <td>{{ p.note}}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="openModal(false,p)" >Edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteOrder(p)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- phân trang -->
<ul class="pagination">
    <li class="page-item">
        <a href="javascript:void(0);" (click)="searchPrevious()">Previous</a>
    </li>
    <li class="page-item">{{orders.page}}</li>
    <li class="page-item">
        <a href="javascript:void(0);" (click)="searchNext()">Next</a>
    </li>
</ul>

<!-- Modal cho xóa zs edit-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!isEdit" id="emxampleModalLabel">Add New Order</h5>
        <h5 class="modal-title" *ngIf="isEdit" id="emxampleModalLabel">Edit Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "row" *ngIf="isEdit">
          <div class="col-2">Order ID</div>
          <div class="col-8"><input class="form-control" [(ngModel)] = "order.orderId"></div>
        </div> <br>

        <div class = "row">
          <div class="col-2">Employee ID</div>
          <div class="col-8"><input class="form-control" [(ngModel)] = "order.employeeId"></div>
        </div> <br>

          
        <div class = "row">
          <div class="col-2">Order Date</div>
          <div class="col-8"><input class="form-control" [(ngModel)] = "order.orderDate"></div>
        </div> <br>

        <div class = "row">
          <div class="col-2">Ship Name</div>
          <div class="col-8"><input class="form-control" [(ngModel)] = "order.shipName" ></div>
        </div><br>

        <div class = "row">
            <div class="col-2">City</div>
            <div class="col-8"><input class="form-control" [(ngModel)] = "order.city" ></div>
          </div><br>

        <div class = "row">
            <div class="col-2">Note</div>
            <div class="col-8"><input class="form-control" [(ngModel)] = "order.note" ></div>
        </div><br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="isEdit" type="button" class="btn btn-primary" (click) = "updateOrder()">Save</button>
        <button *ngIf="!isEdit" type="button" class="btn btn-success" (click)="addOrder()">Add</button>
      </div>
    </div>
  </div>
</div>
